.odd {
    background-color: rgb(255, 200, 200);
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.large-text {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}