.black,
.yellow {
    font-size: 28px;
    font-family: Helevtica, "Times New Roman", sans-serif;
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}
